@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>
<form method="post" action="/Login/SignIn">
    <div class="container">
        <hr />
        <span class="text-danger">@ViewBag.message</span>
        <hr />
        <div class="table table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>User Name</td>
                        <td>
                            <input type="text" name="UserName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="Password" />
                        </td>
                    </tr>
                    <tr>
                        <input type="submit" name="btn" value="SignIn" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

