<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProductCrudDemo</display-name>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.demo.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/validateuser</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>show</servlet-name>
		<servlet-class>com.demo.servlet.ShowProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>show</servlet-name>
		<url-pattern>/showproduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.demo.servlet.AddProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/addproduct</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.demo.servlet.EditProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/editproduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.demo.servlet.Update</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/updateproduct</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.demo.servlet.DeleteProduct</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/deleteproduct</url-pattern>
	</servlet-mapping>
</web-app>


