@model IEnumerable<_07_DemoViewBag_ViewData_TempData.Models.Emp>

<h1 class="text-info">Emps Records</h1>
<div class="container table-responsive">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.Id</td>
                            <td>@emp.Name</td>
                            <td>@emp.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>